@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
    font-style: 500;
}

.header{
    padding: 15px;
    // background: linear-gradient(138deg, rgba(139,163,255,1) 22%, rgba(22,97,181,1) 77%);

    &-logo{
        margin: auto 0;

        h1,h2{
            margin: 0;
            font-family: "Montserrat";
        }

        h1{
            text-align: center;
        }

        h2{
            font-size: 16px;
        }
    }

    &-infoUser{
        margin-left: auto;
        p{
            margin: 0;
        }

        button{
            margin: auto 10px;
            padding: 10px 20px;
            background: linear-gradient(180deg, rgba(105,205,253,1) 0%, rgba(77,184,239,1) 48%);
            box-shadow: 0px 4px 10px -3px rgba(77,184,239,1);
            border: none;
            border-radius: 10px;
            color: white;
            font-size: 16px;
            cursor: pointer;
            letter-spacing: .6px;
            transition: .5s;

            &:hover{
                box-shadow: 0px 7px 10px -3px rgba(77,184,239,1);
                transform: translateY(-1px);
            }
        }

        &__top{
            margin-bottom: 10px;

            .name{
                margin: auto 8px auto 0;
            }

            .avatar{
                width: 40px;
            }
        }

        &__bottom{
            p{
                margin: auto 8px auto 0;
            }

            .money{

                p{
                    margin: auto 8px auto 0;
                }

                .coin{
                    width: 20px;
                }
            }
        }
    }
}